.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black; /* Change color as needed */
  }
  
  .navbar-brand img {
    height: 70px;
    margin-right: 10px;
  }
  